@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    font-family: 'Lato', sans-serif;
}

.header .navbar {
    height: 40px;
    margin: 30px 60px 30px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

 h1 {
    display: inline-block;
    margin-right: -150px;
    margin-left: 100px;
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    font-weight: bolder;
}

span {
    color: #0360d9;
}

nav {
    margin: 0px 100px 0px 370px;
}

nav ul {
    display: flex;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    Verdana, sans-serif;
    font-weight: 500;
    margin: 0px 0px;
}

nav ul li {
    list-style-type: none;
    margin: 0px 30px;
}


nav ul li:nth-child(1) {
    color: #0360d9;
         
}

.btn_Log-in {
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 15px 0px 0px ;
    border-radius: 50px;
    border: 2px solid #0360d9;
    border-radius: 50px;
    color: #0360d9;
    font-size: larger;
    font-weight: 500;
    text-decoration: none;
    margin-left: 10px;
}

.btn_Sign-up {
    background-color: #0360d9;
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 15px 0px 0px ;
    border-radius: 50px;
    color: #ffffff;
    font-size: larger;
    font-weight: 500;
    text-decoration: none;
}

.find_and_search {
    display: inline-block;
    margin-right: -150px;
    margin-left: 150px;
    margin-top: 200px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    width: 500px;
}